/***************  MAIN ELEMENT STYLING  ***************/
body {
  display: block;
  background-color: #181818;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  /* background-color: #1ed75fb9; */
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.main-div {
  background-color: #282828;
  margin: 10px 10px;
  padding: 10px 10px;
  border: 1px solid #1ed75fb9;
  border-radius: 8px;
}

.main-header {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  margin: 5px;
}

.sub-header {
  font-size: 26px;
  text-align: center;
  max-width: 710px;
  margin: 15px auto 0px auto;
  padding: 8px;
  border-bottom: 1px solid #1ed75fb9;
}

.search-results-section, .filtered-results-section {
  overflow: hidden;
  max-width: fit-content;
  margin: 8px auto 8px auto;
  padding: 8px;
  border: 1px solid #1ed75fb9;
  border-radius: 8px;
}

.results-div, .filtered-div {
  max-height: 800px;
  overflow: scroll;
  max-width: fit-content;
  margin: auto;
  padding: 8px;
}

/* hide filter section border initially */
.filtered-results-section {
  border: none;
}

/* hide filter div initially */
.filtered-div {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #373737;
}

::-webkit-scrollbar-corner { 
  background: #282828; 
}

a {
  color: #1ed760;
}

img {
  width: 170px;
  height: auto;
}

#readme-text p {
  font-size: 1.1em;
}

#readme-text li {
  text-align: left;
  list-style: disc;
  display: list-item;
}

#readme-text li.sub-li-item {
  list-style: none;
}

/*****************  HEADER BOX STYLING  ******************/
#header-box {
  text-align: left;
  position: relative;
  padding: 0px;
  background-color: #21a750;
}

.header-item {
  display: inline-block;
}

#header-buttons-div {
  display: inline-block;
  position: absolute;
  right: 1.5%;
  top: 9%;
}

.button-div {
  min-height: 67px;
}

#header-site-div {
  /* left: 83.3%; */
}

#header-git-div {
  /* right: 1.5%; */
}

.header-button {
  position: relative;
  margin: 3px auto;
  padding: 8px;
  /* width: 105px; */
  min-width: 0px;
  background-color: #1ba24b;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

.header-button:active {
  /* background-color: rgb(0, 80, 0); */
}

.header-item img {
  width: 40px;
  height: 40px;
}

/* turn header into sticky bar */
#header-box.sticky{
  position: fixed;  
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  z-index: 6002;
  border-radius: 0px;
  transition-property: top, margin-top;
  /* transition-duration: 0.4s; */
  /* transition-timing-function: ease-in-out; */
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #results-box {
  margin-top: 115px;
}

/* env variables working, apikey div is no longer necessary but keeping it if needed in the future */
#header-key-div {
  visibility: hidden;
}

/*Display tooltip when any part of div is hovered over*/
.button-div:hover .header-tooltiptext, .button-div:hover .tooltip-inner, .button-div:hover .header-tooltip {
  pointer-events: auto;
  opacity: 1.0;
}

.header-tooltip .tooltiptext {
  border: 1px solid #1ed75fb9;
}

/* position tooltip text and inner boxes */
.header-tooltip #tooltiptext-git, .header-tooltip #tooltip-inner-git, .header-tooltip #tooltiptext-search, .header-tooltip #tooltip-inner-search, .header-tooltip #tooltiptext-key, .header-tooltip #tooltip-inner-key {
  left: 51.7px;
  top: 4px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  word-break: break-word;
}
.header-tooltip #tooltiptext-search, .header-tooltip #tooltip-inner-search {
  left: -45px;
  width: 420px;
}
.header-tooltip #tooltiptext-key, .header-tooltip #tooltip-inner-key {
  left: -45px;
  width: 420px;
}

/* Arrow */
.header-tooltip #tooltip-inner-git:before, .header-tooltip #tooltip-inner-search:before, .header-tooltip #tooltip-inner-key:before {
  left: 165px;
  top: -11px;
  border-bottom: 8px solid black;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  z-index: 6001;
}
.header-tooltip #tooltip-inner-search:before {
  left: 262px;
}
.header-tooltip #tooltip-inner-key:before {
  left: 262px;
}

/* Invisible area so you can hover over tooltip */
.header-tooltip #tooltip-inner-git:after, .header-tooltip #tooltip-inner-search:after, .header-tooltip #tooltip-inner-key:after {
  width: 78px;
  left: 135px;
  top: -7px;
}
.header-tooltip #tooltip-inner-search:after {
  width: 228px;
  left: 82px;
}
.header-tooltip #tooltip-inner-key:after {
  width: 228px;
  left: 82px;
}

/***************  SEARCH & BUTTON STYLING  ***************/
#header-key {
  background: rgb(255, 155, 155);
}
#header-key:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  /* transform: translate(1%, 1%); */
}

#apikeys {
  display: block;
  margin: 0;
  padding-left: 10px;
  text-align: start;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgb(255, 155, 155);
  color: #181818;
  width: 404px;
  transition: width 0.3s ease-in-out;
}

#apikeys:focus {
  /* width: 40%; */
}

#search-box {
  display: block;
  margin: 10px auto;
  border-radius: 15px;
  border: none;
  background: #fff;
  color: #181818;
  height: 30px;
  width: 416px;
  padding-left: 8px;
  outline: none;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg); */
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px;
  transition: width 0.3s ease-in-out;
}

#search-box[type=search]:focus {
  /* width: 70%; */
}

button {
  margin: 5px 0px 15px 0px;
  padding: 11px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #1ed75fb9;
  border: 1px solid #1ed75fb9;
  border-radius: 20px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 150px;
  font-size: 14px;
  font-weight: 600;
  outline: black;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(150,150,150,1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(150,150,150,1);
  box-shadow: 0px 0px 5px 2px rgba(150,150,150,1);
}

button:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  /* transform: translate(1%, 1%); */
}

/* make checkbox 1 layer above invisible tooltip:after hover box so it is still selectable */
input[type='checkbox'] {
  position: relative;
  z-index: 6001;
}

/***************  LIST STYLING  ***************/
ul {
  list-style-type: none;
  margin: 8px auto;
  text-align: center;
  width: fit-content;
}

li {
  display: inline;
  margin: 0;
  text-align: center;
}

label.filter-option {
  display: inline-block;
  min-width: 220px;
  text-align: start;
}

input.filter-option {
  display: inline-block;
  width: 80px;
  margin: 0px 10px 0px 0px;
}

label.comparison {
  display: inline-block;
  width: 60px;
  text-align: start;
}

/***************  TABLE STYLING  ***************/
/* hide tables initially, only show after adding to them in javascript*/
#filtered-table, #track-analysis-table, #albums-div, #artists-div, #playlists-div, #tracks-div {
  display: none;
}

table {
  width: 700px;
  margin: 8px auto 45px auto;
}

table, th, td {
  /* border: 1px solid #aaaaaa; */
  border-collapse: collapse;
  padding: 8px;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  min-width: 125px;
  word-wrap: break-word;
}

#track-analysis-table {
  width: 400px;
}

th {
  background-color: #1ed75fb9;
}

th, td {
  max-width: 350px;
}

tbody {
  /* outer borders can't be used as the column headers don't have borders so it doesn't match up and looks misaligned */
  /* border-left: 1px solid #1ed760;
  border-right: 1px solid #1ed760;
  border-bottom: 1px solid #1ed760; */

  /* use box-shadow to create an inner border. shadow on the top is blurred background color to remove it as much as possible and only display borders on other 3 sides. */
  box-shadow: 0px 0px 5px 0px #282828 inset, 0px -2px 2px 2px #1ed75fb9 inset, -2px 0px 2px 2px #1ed75fb9 inset, 2px 0px 2px 2px #1ed75fb9 inset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* text-align: center; */
}

/*center last column in tbody*/
tbody td:last-child {
  text-align: center;
}

/*need to override tbody column centering for 1 specific table*/
#track-analysis-table td {
  text-align: left;
}

/*round the corners of the first and last header elements*/
thead:first-child tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

thead:first-child tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

/*color of highlighted row*/
tbody > tr:hover {
  background-color: #373737;
}

/*color of clicked row*/
tr.track-row.highlight-row {
  background-color: #375037;
}


/***************  TOOLTIP STYLING  ***************/
/* Tooltip container */
.tooltip {
  transform: none;
  margin: 0px;
  position: relative;
  left: -197px;
}

/*Display when any part of list item is hovered over*/
.li-filter:hover .tooltiptext, .li-filter:hover .tooltip-inner, .li-filter:hover .tooltip {
  pointer-events: auto;
  opacity: 1.0;
}

/* Tooltip box and text*/
.tooltip .tooltiptext, .tooltip .tooltip-inner {
  display: block;
  position: absolute;
  left: -5px;
  top: -3px;
  z-index: 6000;
  overflow: visible;
  padding: 5px 8px;
  margin-top: 0px;
  border-radius: 8px;
  text-align: left;
  color: #fff;
  background: #000;
  pointer-events: none;
  opacity: 0.0;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.tooltip .tooltip-inner{
  padding: 0px;
}

/* Arrow */
.tooltip .tooltip-inner:before  {
  display: inline;
  top: 4px;
  content: "";
  position: absolute;
  border: solid;
  border-color: rgba(0, 0, 0, 1) transparent;
  /* border-width: 0 .5em .5em .5em; */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #1ed75fb9;
  z-index: 6000;
  left: 194px;
}

/* Invisible area so you can hover over tooltip */
.tooltip .tooltip-inner:after  {
  top: -5px;
  content: " ";
  display: block;
  height: 35px;
  position: absolute;
  width: 60px;
  left: 180px;
}

.tooltip-inner .tooltiptext {
  overflow-y: scroll;
  max-height: 190px;
  width: 185px;
  display: block;
}




/*
-------------------------------------------------
SOURCES:
https://jsonformatter.org/scss-to-css

https://www.w3schools.com/howto/howto_css_tooltip.asp

https://stackoverflow.com/questions/16635182/solving-table-rounded-corner-css/24712255

https://stackoverflow.com/questions/1429605/creating-a-css3-box-shadow-on-all-sides-but-one

https://stackoverflow.com/questions/29218795/scrollable-hoverable-css-tooltip-with-psuedo-elements

https://stackoverflow.com/questions/12610409/tooltip-with-a-triangle

https://xomisse.com/blog/html-images/

https://stackoverflow.com/questions/28194444/how-can-i-display-an-image-from-the-local-machine-on-a-webpage

https://api.jquery.com/css/

https://www.quora.com/How-do-I-make-a-div-so-that-you-cant-click-the-underlying-elements

https://www.w3schools.com/cssref/pr_pos_z-index.asp



Source for the below code:
https://freebiesbug.com/code-stuff/spotify-ui-html-css/

*/
